#comment-form legend {
    margin: 0;
    padding: 0;
    font-size: .6em;
}
#comment-form fieldset {
    border: none;
    padding: 0;
}
#comment-form textarea, label {
    font-size: .5em;
}
#comment-form textarea {
    resize: none;
    height: 5em;
    width: 98%;
}
#comment-form fieldset .errorlist {
    font-size: .4em;
    color: red;
}
#comment-form fieldset input[type="submit"] {
    margin-bottom: .4em;
}