{% extends "entry_base.html" %}
    {% block content %}
    <header>
        <h1>New entry</h1>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur</p>
    <p>Another</p>
    <figure class="text-image-container">
        <img class="image-big" src="{{ entry.get_in_text_url }}/abc.jpg">
        <figcaption>First image</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit ames ss sss  ssasdas  ssaasas</p>
    <pre class="language-python">
        <code>

            for i in range(10):
                for j in range(10:
                    print(10)
            class Test:
                def __init__(self):
                    self.test = 1
                @property
                def x(self):
                    return 5

        </code>
    </pre>
    {% endblock %}

