{% load i18n %}

<aside class="additional-info apply-top-border">
    <h3>{% translate 'See also' %}...</h3>
    <ul class="entries-list">
        {% for entry in suggested_entries %}
        <li>
            <span><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></span>
        </li>
        {% endfor %}
    </ul>
    <h3>{% translate 'Recently watched'%}</h3>
    <ul class="entries-list">
        {% for entry in recently_visited_entries %}
            <li>
                <span><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></span>
            </li>
        {% endfor %}
    </ul>
    {% comment %}
    <div class="entries-list">
        {% for entry in recently_visited_entries %}
            <p><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></p>
        {% endfor %}
    </div>
    <h4>{% translate 'Suggested' %}</h4>
    <div class="entries-list">
        {% for entry in suggested_entries %}
        <p><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></p>
        {% endfor %}
    </div>
    {% endcomment %}
</aside>