<div class="pagination">
{% load i18n %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">☚</a>
    {% endif %}
    <span>
            {% translate 'Page' %}
            <form method="GET">
                <input name="page" type="text" value="{{ page_obj.number }}">
                <button type="submit">Go</button>
            </form>

            {% translate 'of' %} {{ page_obj.paginator.num_pages }}
        </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">☛</a>
    {% endif %}
</div>