{% load i18n %}

<aside class="right-info-pane">
    <h4>{% translate 'Recently watched'%}</h4>
    <div class="entries-list">
        {% for entry in recently_watched_entries %}
            <p><a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a></p>
        {% endfor %}
        <div>First entrysss sss sss sss sss sss sss sss sss sss ssss</div>
        <div>Second entry</div>
        <div>Third entry</div>
    </div>
    <h4>{% translate 'Suggested' %}</h4>
    <div class="entries-list">
        {% for entry in suggested_entries %}
        <p><a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a></p>
        {% endfor %}
    <div>fourth entry</div>
        <div>fifth entry</div>
        <div>sixth entry</div>
    </div>
</aside>